
BL/bin/Debug/EL.pdb
BL/bin/Debug/EL.dll
BL/bin/Debug/BL.pdb
BL/bin/Debug/BL.dll
.vs/ISalud/v16/.suo
BL/obj/Debug/BL.csproj.CoreCompileInputs.cache
BL/obj/Debug/BL.csprojAssemblyReference.cache
BL/obj/Debug/BL.dll
BL/obj/Debug/BL.pdb
EL/bin/Debug/EL.dll
EL/bin/Debug/EL.pdb
EL/obj/Debug/EL.csproj.CoreCompileInputs.cache
EL/obj/Debug/EL.csprojAssemblyReference.cache
EL/obj/Debug/EL.dll
EL/obj/Debug/EL.pdb
ISalud/bin/BL.dll
ISalud/bin/BL.pdb
ISalud/bin/EL.dll
ISalud/bin/EL.pdb
ISalud/bin/ISalud.dll
ISalud/bin/ISalud.pdb
ISalud/obj/Debug/ISalud.csprojAssemblyReference.cache
ISalud/obj/Debug/ISalud.dll
ISalud/obj/Debug/ISalud.pdb
.vs/ISalud/v16/.suo
*.dll
*.pdb
*.cache
ISalud/obj/Debug/ISalud.pdb
ISalud/obj/Debug/ISalud.dll
ISalud/obj/Debug/ISalud.csprojAssemblyReference.cache
ISalud/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ISalud/bin/ISalud.pdb
ISalud/bin/ISalud.dll
ISalud/bin/BL.pdb
ISalud/bin/BL.dll
BL/obj/Debug/BL.pdb
BL/obj/Debug/BL.dll
BL/obj/Debug/BL.csprojAssemblyReference.cache
BL/bin/Debug/BL.pdb
BL/bin/Debug/BL.dll
.vs/ISalud/v16/.suo
