@{
    ViewBag.Title = "CobrarFacturaCuentaMedica";
    Layout = "~/Views/Shared/_LayoutSitio.cshtml";
}

<main class="center-main text-center cuentaMedica">
    <div id="content-cuenta-medica">
        <h1>Cobrar factura con cuenta médica</h1>
        <div class="informacion">
            <div>
                <span>Nº de factura: <b><label id="lblNroFactura">55</label></b></span>
            </div>
            <div>
                <span>Monto factura: <b><label id="lblValorFactura">$55.392.495</label></b></span>
            </div>
        </div>
        <div class="titulo">
            <h3>Datos de la cuenta médica</h3>
        </div>

        <div class="form-group">
            <form id="FormCuentaMedica" method="post" class="formCuentaMedica">

                <div class="row">
                    <div class="col-md-12">
                        <input id="txtNroCuentaMedica" name="txtNroCuentaMedica" type="text" placeholder="Nº de cuenta médica" 
                               class="form-control FormatNumber" data-precision="10">
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top: 10px;">
                        <input id="txtRutPaciente" name="txtRutPaciente" type="text" placeholder="Rut del paciente" 
                               class="form-control format-rut" maxlength="12">
                    </div>
                    <div class="col-md-6" style="margin-top: 10px;">
                        <div>
                            <input id="txtValorCuenta" name="txtValorCuenta" type="text" placeholder="Valor total de la cuenta" 
                                   class="form-control FormatAmount" data-precision="10,0">
                        </div>
                    </div>
                </div>
                <div class="row" style="height: 200px;">
                    <div class="col-md-6" style="margin-top: 10px;">
                        <div class="calendarInput">
                            <input id="txtFechaInicio" name="txtFechaInicio" type="text" placeholder="Fecha incio hospitalización" class="input-locked">
                            <img src="~/img/i-calendar.svg">
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 10px;">
                        <div class="calendarInput">
                            <input id="txtFechaTermino" name="txtFechaTermino" type="text" placeholder="Fecha fin hospitalización" class="input-locked">
                            <img src="~/img/i-calendar.svg">
                        </div>
                    </div>
                </div>

                <!-- Documentación -->
                <div class="documentacion">
                    <h3>Documentación</h3>
                    <div class="buscador">
                        <select name="select-documentacion" id="select-documentacion" style="width: 100%;">
                            <option value="0">Seleccione un documento</option>
                            <option value="1">Cuenta médica</option>
                            <option value="2">Epicrisis</option>
                            <option value="3">Protocolo operatorio</option>
                            <option value="5">Declaración de accidentes</option>
                            <option value="6">Otros adjuntos</option>
                        </select>
                    </div>
                    <div class="inputFile" id="subir-archivo" style="display: none;">
                        <input type="file" name="file-3[]" id="file-3" class="inputfile inputfile-3" data-multiple-caption="{count} files selected" multiple="" style="display: none;">
                        <label for="file-3"><span id="lblInputFile">Click aquí para subir archivo</span></label>
                        <img src="~/img/i-upload.svg" alt="icono subir archivo">
                    </div>
                </div>

                <div class="documentosAdjuntos" style="display: none;">

                    <table id="table-list-files" class="display">
                        <thead id="table-list-head-files">
                        </thead>
                        <tbody id="table-list-body-files">
                        </tbody>
                    </table>

                </div>

                <a class="btn-primary" id="btn-continuar" style="display: none;">Continuar</a>

            </form>
        </div>



    </div>

    <!-- Información filtrada -->
    <main class="center-main text-center" id="contenido-filtrado" style="display: none;">
        <h1>Cobrar factura con cuenta médica</h1>
        <div class="buscador filtrosFacturaBono">
            <form action="#">
                <div class="checkBox">
                    <label class="radio-button">
                        <input type="radio" name="radio">
                        <span class="label-visible">
                            <span class="fake-radiobutton"></span>
                        </span>
                        Todos los bonos
                    </label>
                </div>
                <div>
                    <input type="text" placeholder="Rut beneficiario">
                </div>
                <div>
                    <input type="text" placeholder="Nº de cuenta médica">
                </div>
                <button><img src="/img/i-buscar.svg"></button>
            </form>
        </div>
        <!-- Contenedor tabla y resumen -->
        <div class="contenedorTablaResumen">
            <table id="myTable" class="cobrarBonoTabla display">
                <thead>
                    <tr>
                        <th width="10">
                            <label class="radio-button" id="select-all">
                                <input type="radio" name="radio">
                                <span class="label-visible">
                                    <span class="fake-radiobutton"></span>
                                </span>
                            </label>
                        </th>
                        <th>Nº de bono</th>
                        <th>Fecha de emisión</th>
                        <th>Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="10">
                            <label class="radio-button">
                                <input type="radio" name="radio">
                                <span class="label-visible">
                                    <span class="fake-radiobutton"></span>
                                </span>
                            </label>
                        </td>
                        <td>
                            4943931
                        </td>
                        <td>21-01-2020</td>
                        <td>$50.987.249</td>
                    </tr>
                    <tr>
                        <td width="10">
                            <label class="radio-button">
                                <input type="radio" name="radio">
                                <span class="label-visible">
                                    <span class="fake-radiobutton"></span>
                                </span>
                            </label>
                        </td>
                        <td>
                            4943931
                        </td>
                        <td>21-01-2020</td>
                        <td>$50.987.249</td>
                    </tr>
                    <tr>
                        <td width="10">
                            <label class="radio-button">
                                <input type="radio" name="radio">
                                <span class="label-visible">
                                    <span class="fake-radiobutton"></span>
                                </span>
                            </label>
                        </td>
                        <td>
                            4943931
                        </td>
                        <td>21-01-2020</td>
                        <td>$50.987.249</td>
                    </tr>
                    <tr>
                        <td width="10">
                            <label class="radio-button">
                                <input type="radio" name="radio">
                                <span class="label-visible">
                                    <span class="fake-radiobutton"></span>
                                </span>
                            </label>
                        </td>
                        <td>
                            4943931
                        </td>
                        <td>21-01-2020</td>
                        <td>$50.987.249</td>
                    </tr>
                    <tr>
                        <td width="10">
                            <label class="radio-button">
                                <input type="radio" name="radio">
                                <span class="label-visible">
                                    <span class="fake-radiobutton"></span>
                                </span>
                            </label>
                        </td>
                        <td>
                            4943931
                        </td>
                        <td>21-01-2020</td>
                        <td>$50.987.249</td>
                    </tr>
                    <tr>
                        <td width="10">
                            <label class="radio-button">
                                <input type="radio" name="radio">
                                <span class="label-visible">
                                    <span class="fake-radiobutton"></span>
                                </span>
                            </label>
                        </td>
                        <td>
                            4943931
                        </td>
                        <td>21-01-2020</td>
                        <td>$50.987.249</td>
                    </tr>
                    <tr>
                        <td width="10">
                            <label class="radio-button">
                                <input type="radio" name="radio">
                                <span class="label-visible">
                                    <span class="fake-radiobutton"></span>
                                </span>
                            </label>
                        </td>
                        <td>
                            4943931
                        </td>
                        <td>21-01-2020</td>
                        <td>$50.987.249</td>
                    </tr>
                    <tr>
                        <td width="10">
                            <label class="radio-button">
                                <input type="radio" name="radio">
                                <span class="label-visible">
                                    <span class="fake-radiobutton"></span>
                                </span>
                            </label>
                        </td>
                        <td>
                            4943931
                        </td>
                        <td>21-01-2020</td>
                        <td>$50.987.249</td>
                    </tr>
                </tbody>
            </table>
            <div class="resumen">
                <div class="info">
                    <h3>Resumen</h3>
                    <div><span>Nº de factura:</span> <b>430434</b></div>
                    <div><span>Valor factura:</span> <b>$5.4343.434</b></div>
                    <div><span>Sumatoria bonos <br> seleccionados:</span> <b style="top: 20px">$98.438.323</b></div>
                </div>
                <a href="#" class="btn-primary" id="showModal" style="margin: 0;">Cobrar bonos seleccionados</a>
            </div>
        </div>
    </main>

    <!-- Popup Confirmación datos-->
    <div class="overlay" style="display: none;">
        <div class="contenedor-popup">
            <h3>Confirmación</h3>

            <div class="datosFactura">
                <div>
                    <span>Nº de factura</span>
                    <b><label id="lblNroFacturaModal">55</label></b>
                </div>
                <div>
                    <span>Se cobra con</span>
                    <b><label id="lblTipoCobroModal">Bono</label></b>
                </div>
                <div>
                    <span>Fecha</span>
                    <b><label id="lblFechaCobroModal">21-01-2020</label></b>
                </div>
                <div>
                    <span>Monto</span>
                    <b><label id="lblMontoCobroModal">$4.529.434</label></b>
                </div>
            </div>

            <button id="btnCobrarFacturaModal" class="btn-primary">Cobrar factura</button>
            <a id="btnCancelarModal" href="javascript:void(0);" class="cancelarEnlace">Cancelar</a>
        </div>
    </div>

</main>

<script src="~/js/inputfile/fileinput.js"></script>
<script src="~/js/select2-4.0.7/dist/js/select2.min.js"></script>
<script src="~/js/Sitio/CobrarFacturaCtaMedica.js"></script>

<script>
    //Select2
    $('select').select2({
        minimumResultsForSearch: 8
    });

    //Tabla documentos
    //$('#tablaDocumentos').dataTable({
    //    "searching": false,
    //    "ordering": false,
    //});

    //Modal
    $("#showModal").click(function () {
        $(".overlay").fadeIn(200);
        event.preventDefault()
    });
    $("#cancelarPopUp").click(function () {
        $(".overlay").fadeOut(200);
        event.preventDefault()
    });

    //inputFile
    (function (e, t, n) { var r = e.querySelectorAll("html")[0]; r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2") })(document, window, 0);

    //$(document).on('change', '#select-documentacion', function (e) {
    //    e.preventDefault();
    //    $('#subir-archivo').fadeIn();
    //});

    //$(document).on('change', '#file-3', function () {

    //    var files = $('#file-3').prop('files');
    //    if (files && files[0]) {

    //        var name = files[0].name;
    //        if (name.length > 30) {
    //            name = name.substr(0, 30) + '...';
    //        }

    //        var FR = new FileReader();
    //        FR.addEventListener("load", function (e) {
    //            //console.log(e.target.result);

    //            $('.documentosAdjuntos').show();
    //            // let html = '<tr>'
    //            //     html +=  '<td>'+name+'</td>'
    //            //     html += '<td>documento 1</td>'
    //            //     html +=  '<td><a href="#"><img src="/img/i-eliminar.svg"></a></td>'
    //            //     html += '</tr>'
    //            // $('#archivos-subidos').append(html);
    //            $('#btn-continuar').show();
    //            $('#btn-continuar').addClass('animate__animated animate__fadeIn');


    //        });
    //        FR.readAsDataURL(this.files[0]);
    //    }

    //});

    //$(document).on('click', '#btn-continuar', function () {
    //    $('#content-cuenta-medica').addClass('animate__animated animate__fadeOutLeft');
    //    setTimeout(() => {
    //        $('#content-cuenta-medica').hide();
    //        $('#contenido-filtrado').show();
    //        $('#contenido-filtrado').addClass('animate__animated animate__fadeInRight');
    //    }, 500);

    //});



</script>